@model IEnumerable<Hospital_API.Models.PatientDoctorNurseHospitalView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HospitalName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HospitalName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.PatientId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.PatientId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.PatientId  })
            </td>
        </tr>
}
    </tbody>
</table>
