@model IEnumerable<Hospital_API.Models.Cleaner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CleanerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CleanerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.HospitalId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CleanerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CleanerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CleanerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
